.introduction{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 200px;
}
.introduction .innerContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.introduction .innerContainer .greeting{
  font-weight: bold;
  font-size: xxx-large;
  text-align: left;
}

.introduction .innerContainer .description{
  font-size: x-large;
}
.introduction .innerContainer .buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.introduction .innerContainer .buttons button{
  font-size: large;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1rem 2rem;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.introduction .innerContainer .buttons button:hover{
  border-radius: 15px;
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.219);
}

.introduction img{
  height: auto;
  width: 100%;
  max-width: 540px;
  user-select: none;
  animation: levitate 4s infinite;
  transition: all 0.2s ease;
}

@keyframes levitate{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1117px){
  .introduction {
    flex-direction: column;
    gap: 2rem;
  }

  .introduction .innerContainer .greeting,
  .introduction .innerContainer .description{
    text-align: center;
  }

  .introduction .innerContainer .buttons{
    justify-content: center;
  }
}