.navBar {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 90px 20px 90px;
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1;
  gap: 1rem;
}

.navBar .name{
  user-select: none;
  font-size: xx-large;
  white-space: nowrap;
}

.navBar .links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}
.navBar .links:not(button){
  user-select: none;
}
.navBar .links button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: large;
  color: white;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.navBar .links button:hover{
  color: gray;
}


@media screen and (max-width: 650px) {
  .navBar {
    padding: 20px;
    align-items: center;
  }
}