.aboutMe{
  margin-top: 150px;
}

.aboutMe .title{
  font-size: xxx-large;
  font-weight: bold;
}

.aboutMe .aboutMeContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.aboutMe .aboutMeContainer .images{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutMe .aboutMeContainer .description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: x-large;
}

.aboutMe .aboutMeContainer .description .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paragraphs ul{
  padding-left: 2rem;
  line-height: 1.5em;
}
.paragraphs ul li::before{
  content: "- ";
}
.paragraphs ul li{
  list-style: none;
}

@media screen and (max-width: 1120px) {
  .aboutMe{
    text-align: center;
  }

  .aboutMe .aboutMeContainer {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .aboutMe .aboutMeContainer .description {
    font-size: x-large;
    justify-content: center;
  }
  
  .aboutMe .aboutMeContainer .images{
    display: none;
  }
}